<!-- pass back the theme to use -->
<div id="sastheme" style="display: none">SASTheme_default</div>

<table width="100%" cellpadding="0" cellspacing="0">
<tbody>
  <tr>
    <td valign="top">
    <a href="#skipBanner" title="Skip banner" tabindex="1"></a>
    <!-- Banner -->
    <div id="banner" style="background-image:url(/SASTheme_default/themes/default/images/BannerBackground.gif)" class="banner_container">
		<div class="banner_utilitybar_overlay">&nbsp;</div>
		<table class="banner_utilitybar" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr valign="top">
			<td class="banner_utilitybar_navigation" width="40%" align="left">
				&nbsp;   </td>
			<td class="banner_userrole" nowrap="" align="center" width="20%"> </td>
			<td width="40%" align="right" valign="top">
				<a href="#globalMenuBar_skipMenuBar" title="Skip Menu Bar"></a>
	
			<span class="SimpleMenuBar SimpleMenuBar_Banner_GlobalMenu_Look" id="globalMenuBar">
				<table cellpadding="4" cellspacing="1">
				<tbody>
				<tr>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
						<a id="globalMenuBar_0_anchor" href="#" title="Select to display the menu for portal customization.">
						<!--  Comment out Customize toolbar for now
                                                <span>Customize</span>
						<img class="SimpleMenuBarSubMenuIndicator SimpleMenuBarSubMenuIndicator_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/MenuDownArrowBanner.gif" alt=""></a>
                                                -->
                                                <!-- placeholder span, remove if customize uncommented -->
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
						<span class="SimpleMenuBarSeparator SimpleMenuBarSeparator_Banner_GlobalMenu_Look">|</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
                                                <!-- Comment out Options toolbar 
						<a id="globalMenuBar_2_anchor" href="#" title="Select to display the options menu.">
						<span>Options</span>
						<img class="SimpleMenuBarSubMenuIndicator SimpleMenuBarSubMenuIndicator_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/MenuDownArrowBanner.gif" alt=""></a>

                                                -->
                                                <!-- placeholder span, remove if Options uncommened -->
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
						<span class="SimpleMenuBarSeparator SimpleMenuBarSeparator_Banner_GlobalMenu_Look">|</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
                                                <!-- Comment out search menu
						<a id="globalMenuBar_4_anchor" href="#" title="Select to go to the portal search page.">
						<span>Search</span></a>
                                                -->
                                                <!-- span placeholder, remove if Search uncommented -->
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
						<span class="SimpleMenuBarSeparator SimpleMenuBarSeparator_Banner_GlobalMenu_Look">|</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
                                                <!--  Comment out log off menu item
						<a id="globalMenuBar_6_anchor" href="#" title="Log Off SAS Demo User">
						<span>Log Off SAS Demo User</span></a>
                                                -->

                                                <!-- span placeholder, remove if Log Off menu uncommented -->
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
						<span class="SimpleMenuBarSeparator SimpleMenuBarSeparator_Banner_GlobalMenu_Look">|</span>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
					<td style="white-space: nowrap;" class="SimpleMenuBarItem SimpleMenuBarItem_Banner_GlobalMenu_Look">
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
                                                <!-- Comment out help menu item 
						<a id="globalMenuBar_8_anchor" href="#" title="Select to display the help menu.">
						<span>Help</span>
						<img class="SimpleMenuBarSubMenuIndicator SimpleMenuBarSubMenuIndicator_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/MenuDownArrowBanner.gif" alt="">
                                                -->
                                                <!-- span placeholder, remove if Help menu item uncommented -->
                                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						</a>
						<img class="SimpleMenuBarItemSpacer SimpleMenuBarItemSpacer_Banner_GlobalMenu_Look" src="/SASTheme_default/themes/default/images/spacer.gif" alt="">
					</td>
							</tr>
							</tbody>
					</table>
			</span>
			</td>
			</tr>
		</tbody>
		</table>
		<table cellpadding="0" cellspacing="0" width="100%">
			<tbody>
						<tr>
			<td nowrap="" id="bantitle" class="banner_title">SAS<sup style="font-size: smaller;">®</sup> Portal</td>
			<td id="banbullet" class="banner_bullet"></td>
			<td nowrap="" id="bantitle2" class="banner_secondaryTitle"></td>
			<td align="right" id="banlogo" class="banner_logo" width="100%"><img src="/SASTheme_default/themes/default/images/logo.gif" width="62" height="24" border="0" alt=""></td>
			<td class="banner_logoPadding">&nbsp;</td>
			</tr>
			</tbody>
			</table>
		<a name="skipBanner"></a>
		<!-- Page Menus -->
		<a href="pageTabs_skipTabMenu" title="Skip Tab Menu"></a> 
                <div id="tabs">
