/*
 *  Put any variable overrides that need to be run on each request
 *  in this file and rename it as request_setup_usermods.sas
 */
/*  NOTE: If you are setting any macro variables here, make sure to define them as
 *        global scope, ie. %global xxxx; where xxxx is the macro variable name.
 *        For example, to change the default SAS theme to use, add the following code:
 *         %global sastheme;
 *         %let sastheme=mycompany;
 *
 *  Common things to do here:
 *
 *    Turn on debugging
 *        When problems arise, sometimes it is hard to figure out what happened, since we
 *        try to hide the processing from the end user.
 *        However, you can turn on debugging on the server side.  When you turn this on, the following
 *        happens:
 *           - the sas log is routed to a file named /tmp/debug_<userid>_<entrypoint>_sas.log
 *             where <userid> is the userid submitting the request and <entrypoint> is which
 *             stored process is being executed.
 *
 *        To turn on debugging, set the portaldebug macro variable. The allowable values are:
 *           macro variable exists = turn on debugging 
 *           1 = all users, all entry points
 *           userid list = a list of 1 or more userids, blank separated, that you want to 
 *           capture the debug information
 *
 *        By default, the log will be created in the StoredProcessServer/Logs directory of the
 *        running application server context.  This can be changed by setting the portaldebugdir
 *        macro variable to the directory in which the logs should be created.
 *
 *        Samples:
 *          Turn on for all users:
 *            %global portaldebug;
 *            %let portaldebug=1;
 *
 *          Turn on for just fred and barney:
 *            %global portaldebug;
 *            %let portaldebug=fred barney;
 *
 *          Turn on for betty and wilma and use an alternate logs directory:
 *            %global portaldebug portaldebugdir;
 *            %let portaldebug=betty wilma;
 *            %let portaldebugdir=/tmp;
 *
 *        NOTE: There can only be 1 setting active at any time for these variables.
 *
 *        NOTE: As the debugging content can be large, this will slow down performance.  Thus,
 *              it is recommended to set the portaldebug variable to just those userids that are
 *              experiencing issues or that you want to do diagnostics for.
 *
 *   Turn on Feature Flags
 *
 *        Feature flags are the ability to turn on features that are currently in development and not
 *        yet ready to be turned on by default, either because of the incompleteness of the development or 
 *        the feature is a "trial" to get feedback on whether it should be included or not.
 *
 *        The feature flags are controlled by a macro variable, featureFlags.
 *           %global featureFlags;
 *
 *        It's contents are a comma separated list of feature flags, example: 
 *
 *          %let featureFlags=SASNAVIGATOR,NEWFEATURE2;
 * 
 *        would turn on the SASNAVIGATOR and NEWFEATURE2 features.
 *        
 *        Issue 71 LINKSTABBLANK to open links WSR, STP and links in new browser window or tab
 *
 *   Set the full check interval
 *
 *        To synchronize shared content with a user's private area, checks are done at each user logon
 *        or profile browser refresh.  To minimize performance impact to the user, there are 2 different
 *        types of checks that can be done: a "fast check" and a "full check".  The administrator
 *        set the interval between full checks by setting the fullUpdateCheckInterval macro variable:
 *        Allowed values are:
 *              -1 = never do a full check (not recommended)
 *               0 = always do a full check (generally, not recommended)
 *               n = the number of minutes since the last check to wait before doing another.
 *        If no value is set, the default is 720 minutes (ie. 12 hours).
 *
 *        To set a value other than the default, the following code is required:
 *
 *              %global fullUpdateCheckInterval;
 *              %let fullUpdateCheckInterval=<value>;
 *        where <value> is the value you want to set it to (ie. -1, 0 or n, as explained above).
 */
 
