/*
 *  Put any variable overrides in this file and rename it as setup_usermods.sas
 */
/*  NOTE: If you are setting any macro variables here, make sure to define them as
 *        global scope, ie. %global xxxx; where xxxx is the macro variable name.
 *        For example, to change the default SAS theme to use, add the following code:
 *         %global sastheme;
 *         %let sastheme=SASTheme_mycompany;
 */
 
